/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

h1 {
  @apply font-medium leading-tight text-5xl mt-0 mb-2;
}

h2 {
  @apply font-medium leading-tight text-4xl mt-0 mb-2;
}

h3 {
  @apply font-medium leading-tight text-3xl mt-0 mb-2;
}

h4 {
  @apply font-medium leading-tight text-2xl mt-0 mb-2;
}

h5 {
  @apply font-medium leading-tight text-xl mt-0 mb-2;
}

h6 {
  @apply font-medium leading-tight text-base mt-0 mb-2;
}

.field--type-image img,
.field--name-user-picture img {
  margin: 0 !important;
}

p {
  @apply leading-tight text-base mt-0 mb-2;
}

html,
body {
  @apply font-sans;
}

/* Geomanist-regular */
@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Geomanist Regular"),
    url("./assets/fonts/geomanist-regular-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/geomanist-regular-webfont.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/geomanist-regular-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/geomanist-regular-webfont.svg#geomanistregular")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Geomanist-medium */
@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Geomanist Medium"),
    url("./assets/fonts/geomanist-medium-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/geomanist-medium-webfont.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/geomanist-medium-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/geomanist-medium-webfont.svg#geomanistmedium")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Geomanist-Bold */
@font-face {
  font-family: "geomanist";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Geomanist Bold"),
    url("./assets/fonts/geomanist-bold-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/geomanist-bold-webfont.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/geomanist-bold-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/geomanist-bold-webfont.svg#geomanistbold")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
