{%
  set card_attributes = create_attribute({
    'label': label|render,
    'has-action': url is not null ? true : false,
    'has-more': true,
    'class': 'bg-brand text-white'
  })
%}

<dc-card {{ card_attributes }}>

  <div slot="media">
    {{ content.field_preview_image|field_value }}
  </div>
  <span class="text-3xl">
    {{ content.field_preview_text|field_value }}
  </span>
  <dc-button secondary not-rounded onclick="window.open('{{ url }}');" slot="action">
    ＋
  </dc-button>

</dc-card>
