<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-10 py-5 mb-10 container px-3 mx-auto">
  <dc-card variant="compact" highlight label="20-23">
    September
  </dc-card>
  <dc-card variant="compact" label="60+">
    Speaker
  </dc-card>
  <dc-card variant="compact" label="800+">
    Summits & Training
  </dc-card>
  <dc-card variant="compact" label="3">
    Workshops
  </dc-card>
</div>
