<div class="relative min-h-md pb-10">
  <div class="absolute w-full bottom-0 min-h-md bg-todo-paragraph">
  </div>
  <div class="relative container px-3 mx-auto">

    <dc-headline level="h2" align="center" class="my-10">
      {{ content.field_title }}
    </dc-headline>

    <div id="todo-app" class="flex w-full justify-center" items="{{content.field_list}}"></div>
  </div>
</div>
